{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="grid-100 mineral__container">
    <h1 class="mineral__name">{{ mineral.name }}</h1>
    <div class="mineral__image-bg">
            <img class="mineral__image" src="{% static 'images/' %}{{ mineral.image_filename }}">
            <p class="mineral__caption">{{  mineral.image_caption }}</p>
    </div>
    <div class="mineral__table-container">
        <table class="mineral__table">
            <tr>
                <td class="mineral__category">Category</td>
                <td>{{ mineral.category }}</td>
            </tr>
            <tr>
                <td class="mineral__category">Formula</td>
                <td class="mineral__formula">{{ mineral.formula }}</td>
            </tr>
            <tr>
              <td class="mineral__category">Strunz Classification</td>
              <td>{{ mineral.strunz_classification }}</td>
            </tr>
        {% for key,value in attr.items %}
            <tr>
                <td class="mineral__category">{{ key.title }}</td>
                <td class="mineral__formula">{{ value }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}